/*This class defines the base attributes of the skin*/
.controller.custom{
        background: url(https://iskysong.github.io/NES/nes-assets/base.png);
    height: 526px;
    width: 1043px;
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
    background: url(https://iskysong.github.io/NES/nes-assets/base_dc.png);
}
/* This hides the controller's button when disconnected so only the background image remains */
.custom.disconnected div {
    display: none;
}

/* This is to size and position the containing div for the
start and select buttons. */
.custom .arrows{
    position: absolute;
    width: 187px;
    height: 66px;
    top: 306px;
    left: 387px;
}
/* Setting the size and CSS sprite for the start adn select buttons */
.custom .back, .custom .start{
    background: url(https://iskysong.github.io/NES/nes-assets/Menus.png);
    width: 90px;
    height: 65px;
}
.custom .back.pressed, .custom .start.pressed{
    background-position-y:-97px;
}
.custom .back{
    position: absolute;
    top: 5px;
    left: -27px;
    width: 100px;
}
.custom .start{
    position: absolute;
    top: 5px;
    left: 116px;
    width: 100px;
}
/* Positioning and size of the container for the face buttons */
.custom .abxy{
    position: absolute;
    width: 275px;
    height: 275px;
    top: 190px;
    left: 685px;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width:99px;
    height:99px;
    background: url(https://iskysong.github.io/NES/nes-assets/HighlightButton_R.png);
     opacity: 0;
}
.custom .button.pressed{
    opacity: 1;
}
.custom .a{
    top: 100px;
    left: -1px;
}
.custom .b{
    top: 100px;
    right: 43px;
}
.custom .x{
    top: -31px;
    left: -1px;
}
.custom .y{
    top: -31px;
    left: 132px;
}
/* Dpad possitioning and sizing */
.custom .dpad{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 220px;
    left: 130px;
}
.custom .face{
    background: url(https://iskysong.github.io/NES/nes-assets/dpad.png);
    position: absolute;
    opacity: 0;
}
.custom .face.up{
    width: 40px;
    height: 36px;
}
.custom .face.down{
    width: 40px;
    height: 36px;
}
.custom .face.left{
  width: 43px;
  height: 36px;
  }
.custom .face.right{
  width: 43px;
  height: 36px;
  }

.custom .face.up{
    left: 26px;
    top: -14px;
    background-position-x: -44px;
}
.custom .face.down{
    left: 26px;
    top: 119px;
    background-position-x: -87px;
}
.custom .face.left{
    top: 52px;
    left: -40px;
}
.custom .face.right{
    top: 52px;
    left: 84px;
    background-position-x: -122px;
}
.custom .face.pressed{
    opacity: 1;
}
